body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.bg-color {
  background-color: #9eb2cf;
}

.bg-footer {
  background-color: rgb(95, 95, 95);
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

footer i {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

footer i:hover {
  transform: scale(1.2);
  color: #0d6efd;
}
