.about-bg {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("/public/about-bg.jpg") no-repeat center center;
  background-size: cover;
  color: grey;
  font-size: x-large;
}

.title {
  font-size: 5rem;
  padding-left: 10%;
}

.inner-titile {
  font-size: 2rem;
}

.sub-title {
  padding-left: 10%;
}

.description {
  font-size: 1rem;
  color: black;
}

.btm-title {
  font-size: 3rem;
  color: gray;
}
